@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');
@import "tailwindcss";

*{
    font-family: "outfit",sans-serif;
}


@layer base{
    button{
        @apply cursor-pointer;
    }

    input:not([type="checkbox"]){
        @apply outline-indigo-400 focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
    }
}